body {
  margin: 0;
  padding: 0;
}

/*************/
/* SpaceList */
/*************/


.space-list {
  background: rgba(11,130,135,0.9);
  list-style: none;
  padding: 2.5% 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  height: 100%;
  overflow: scroll;
  position: absolute;
  top: 0;
  width: 39%;
  z-index: 6;
}

.space-item {
  border-bottom: 1px dashed #13caba;
  color: #1de79d;
  cursor: pointer;
  display: block;
  position: relative;
  padding: 1rem 5% 1rem 15%;
  text-rendering: geometricPrecision;
  transition: 0.3s background ease;
  width: 80%;
}

.space-item h2 > a {
  color: #3b3a30;
  text-decoration: none;
}

.space-item:hover {
  background: rgba(255,255,255,0.2);
  transition: 0.3s background ease;
}

.space-item-detail {
  font-size: 1.2225rem;
}

/*
.space-list {
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  margin: 0;
}

.space-item {
  list-style: none;
  box-sizing: border-box;
  border: solid 2px black;
  width: 35%;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.space-item h2 > a {
  color: #80ced6;
  text-decoration: none;
}

.space-item h2 a:hover {
  color: #f7786b;
}

.space-item-detail {
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  background: #d5f4e6;
}

.space-item-detail h2 {
  margin: 0;
}

.space-item-detail-div {
  display: flex;
  align-items: center;
}

.space-item-description {
  color: #034f84;
  margin: 0;
  line-height: 1.5em;
  letter-spacing: 1px;
} */


/**************/
/* Space Show */
/**************/
