body {
  margin: 0;
  padding: 0;
}

/*************/
/* SpaceList */
/*************/

.space-wrapper {
  font-family: 'Roboto Slab', serif;
  margin: 50px;
  background: rgba(11,130,135,0.9);
}

.space-list {
  background: rgba(11,130,135,0.9);
  list-style: none;
  padding: 2.5% 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  height: 100%;
  overflow: scroll;
  position: absolute;
  top: 0;
  width: 39%;
  z-index: 6;
}

.space-item {
  border-bottom: 1px dashed #13caba;
  color: #1de79d;
  cursor: pointer;
  display: block;
  position: relative;
  padding: 1rem 5% 1rem 15%;
  text-rendering: geometricPrecision;
  transition: 0.3s background ease;
  width: 80%;
}

.space-item h2 > a {
  color: #414233;
  text-decoration: none;
}

.space-item:hover {
  background: rgba(255,255,255,0.2);
  transition: 0.3s background ease;
}

.space-item-detail {
  font-size: 1.2225rem;
}


/**************/
/* Space Show */
/**************/

header {
  border: 2px solid #414233;
  color: #414233;
  border-bottom: 0;
  padding: 50px 100px 30px 100px;
  text-align: center;
}

.header-title {
  margin: 30px 0 30px 0;
  font-size: 56px;
  color: #414233;
}

.space-container {
  border: 2px solid #414233;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
}

.space-content {
  width: 60%;
}

.space-content-sub {
  display: flex;
  flex-direction: column;
}

.space-description {
  padding: 30px;
  border: 2px solid #414233;
  box-sizing: border-box;
  margin: 15px;
}

.description {
  color: #1de79d;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  line-height: 1.5em;
  letter-spacing: 1px;
}

.space-content-side {
  width: 40%;
}

.space-side-div-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #414233;
  border: 2px solid #414233;
  margin: 15px;
}
