body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

/*******/
/* MAP */
/*******/

#map {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.map-container {
  color: #414233;
  border: 2px solid #414233;
}

#map-space {
  display: block;
  min-width: 100%;
  height: 300px;
  border-bottom: 2px solid #414233;
}

/*************/
/* SpaceList */
/*************/

.space-wrapper {
  margin: 50px;
  background: white;
}

.space-list {
  background: white;
  list-style: none;
  padding: 2.5% 0;
  box-sizing: border-box;
  height: 100%;
  overflow: scroll;
  position: absolute;
  top: 0;
  width: 39%;
  z-index: 6;
}

.space-item {
  border-bottom: 1px dashed #a8a8a8;
  color: black;
  cursor: pointer;
  display: block;
  position: relative;
  padding: 1rem 5% 1rem 15%;
  text-rendering: geometricPrecision;
  transition: 0.3s background ease;
  width: 80%;
}

.space-item h2 > a {
  color: #fe320f;
  text-decoration: none;
}

.space-item:hover h2 > a {
  color: white;
}

.space-item:hover {
  background: #fe320f;
  transition: 0.3s background ease;
}

.space-item-detail {
  font-size: 1.2225rem;
}

/**************/
/* Space Show */
/**************/

header {
  border: 2px solid #414233;
  color: black;
  border-bottom: 0;
  padding: 50px 100px 30px 100px;
  text-align: center;
}

.header-title {
  margin: 30px 0 30px 0;
  font-size: 56px;
  color: #fe320f;
}

.space-container {
  border: 2px solid #414233;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
}

.space-content {
  width: 60%;
}

.space-content-side {
  width: 40%
}

.space-content-subdiv {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.space-content-sub {
  display: flex;
  flex-direction: column;
}

.space-description {
  padding: 30px;
  border: 2px solid #414233;
  box-sizing: border-box;
  margin: 15px;
}

.description {
  color: black;
  margin: 0;
  line-height: 1.5em;
  letter-spacing: 1px;
}

.space-side-div-two {
  padding: 30px;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (max-width: 1050px) {
  header {
    padding: 50px 75px 20px 75px;
  }
}

@media screen and (max-width: 950px) {
  header {
    padding: 50px 50px 20px 50px;
  }

  div.space-container {
    flex-direction: column;
  }

  .space-content,
  .space-content-side {
    width: 100%;
  }

  .space-description {
    margin: 0;
  }

  .map-container {
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    border: 0;
  }

  .space-side-div-two {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #414233;
  }

}

@media screen and (max-width: 775px)	{
  header {
    padding: 40px 30px;
  }

  .header-title {
    font-size: 48px;
    margin: 25px 0 20px 0;
  }

  .space-description {
    margin: 0;
  }

}

@media screen and (max-width: 650px) {
  body {
    margin: 0;
  }

  header {
    padding: 10px 20px;
  }

  header p {
    font-size: 20px;
    margin: 0;
  }

  .space-container {
    border-left: none;
    border-right: none;
  }

  .space-side-div-two,
  .space-description {
    margin: 20px 0;
  }


  .header-title {
    font-size: 36px;
    margin: 15px 0 10px 0;
  }

  .map-container {
    display: flex;
    flex-direction: column;
  }

  #map,
  .map-subcontainer {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .description {
    font-size: 14px;
  }

  .space-list {
    height: 37%;
    top: 340px;
    width: 100%;
    position: fixed;
  }

}
